.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  background-color: teal;
  min-height: 100vh;
  justify-content: center;
  align-items: center; 
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10em; 
}

.container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10em;
  padding: 10px;
}

.react-chatbot-kit-chat-header {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  background-color: #efefef;
  font-family: Arial;
  display: flex;
  align-items: center;
  font-size: 0.85rem;
  color: teal;
  padding: 12.5px;
  font-weight: bold;
}

