.contact-container{
  margin: 0;
  padding: 0;
  background-color: white;;
  color: teal;
  display: flex;
  flex-direction: column;
  min-width: 20vw;
  min-height: 25vh;
  border-radius: 0.3rem;
}

.contact-header {
  margin: 0;
  padding: 0.8rem;
  text-align: left;
  background-color: #d8d8d8;
  border-radius: 0.3em;
}

.contact-button {
  color: teal;
  font-size: 1em;
  padding: 1em;
  background-color: white;
  margin: 0 1em 1em;
}




